# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.OkrApp.iml
# Datasource local storage ignored files
/../../../../../../../:\git\playground\carpool\.idea\.idea.OkrApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
